.app-container {
  display: flex;
  height: 100vh;
}

.navbar {
  background: #000;
  color: white;
}

.footer {
  height: 100vh;
  background: #000;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home {
  height: 100vh;
}


.content {
  flex-grow: 1;
  background: #000000;
  color: white;
}

::-webkit-scrollbar {
  display: none;
}


