.footer {
    width: 70px;
    display: flex;
    justify-content: center;
}

.bt-prev, .bt-next {
    background-color: rgb(59, 59, 59);
    width: 47px;
    height: 47px;
    margin-bottom: 12px;
    text-align: center;
    align-content: center;
    border-radius: 50%;
    cursor: pointer;
}
.bt-prev:hover, .bt-next:hover {
    background-color: rgb(95, 95, 95);
}
.bt-prev:active, .bt-next:active {
    background-color: rgb(73, 70, 70);
}