.home {
    height: 100vh; /* Chiều cao 100% màn hình */
    overflow-y: scroll; /* Chỉ cuộn trong Home */
    scroll-snap-type: y mandatory; /* Cuộn từng video */
}

.video-wrapper {
    height: 100vh; /* Mỗi video chiếm toàn bộ màn hình */
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
}

.main-home {
    justify-content: space-between;
}

.footer {
    width: 70px;
    display: flex;
    justify-content: center;
}

.bt-prev, .bt-next {
    background-color: rgb(59, 59, 59);
    width: 47px;
    height: 47px;
    margin-bottom: 12px;
    text-align: center;
    align-content: center;
    border-radius: 50%;
    cursor: pointer;
}
.bt-prev:hover, .bt-next:hover {
    background-color: rgb(95, 95, 95);
}
.bt-prev:active, .bt-next:active {
    background-color: rgb(73, 70, 70);
}

