.navbar {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  height: 100%;
  transition: width 0.3s ease-in-out; /* Hiệu ứng chuyển đổi */
}
/* Chưa làm giống được */
.ct-navbar {
  min-width: 250px;
  background: #000;
}

.nav-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  margin: 3px 0;
  gap: 14px;
  padding: 2px 20px 2px 20px;
  min-width: 230px;
  border-radius: 7px;
  cursor: pointer;
  font-weight: 600;
}

.nav-item-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  margin: 0px 0;
  gap: 14px;
  padding: 0px 20px 3px 20px;
  min-width: 150px;
  border-radius: 7px;
  padding-left: 14px;
}

.nav-item:hover {

  background-color: rgb(66, 66, 66);
}

.bi {
  font-size: 24px;
}

.bi-tiktok {
  font-size: 36px;
  margin-bottom: 5px;
} 



.t-tiktok {
  font-size: 30px;
  font-weight: bold;
}

/* search */
.bt-search-container {
  display: flex;
  align-items: center;
  background-color: #201f1f;
  border-radius: 25px;
  padding: 8px 15px;
  margin-left: 3px;
  margin-bottom: 10px;
  cursor: pointer;
  z-index: 10;
  margin-left: 8px;
  width: 210px;
}

.bt-search-icon {
  color: #e0e0e0;
  font-size: 18px;
  margin-right: 10px;
  z-index: 1;
}

.bt-search-container span {
  color: #888;
}


.bt-login {
  background-color: rgb(211, 46, 46);
  width: 200px;
  height: 40px;
  font-weight: bold;
  border-radius: 20px;
  text-align: center;
  align-content: center;
  padding-bottom: 3px;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 15px;
  align-items: center;
}

.bt-login:hover {
  background-color: rgb(190, 53, 53);
}

.bt-login:active {
  background-color: rgb(212, 68, 68);
}

.line {
  width: 230px;
  margin-top: 20px;
  border: none;
  background-color: #ffffffbe;
  height: 0.5px;
}

/* .nav-item span {
  font-weight: bold;
} */

.t-nav {
  display: block;
  font-weight: bold;
  color: #888;
  margin-left: 20px;
  width: 200px;
  font-size: 14px;
}

.t-nav-cp {
  margin-top: 7px;
  margin-left: 20px;
  font-weight: bold;
  color: #888;
  width: 200px;

  font-size: 12px;
}

.t-nav-cp i {
  font-size: 10px;
  margin-bottom: 1px;

}

.t-nav-cp span {
  font-size: 10px;
}

.nav-item.active {
  color: rgb(240, 21, 14); /* Tô đỏ chữ */
  font-weight: bold;
}

.avt-icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-top: 7px;
  margin-bottom: 7px;
}

/* Thu gọn */
.navbar.expand{
  width: 80px;
  border-right: 1px solid rgb(46, 40, 40);
}

.navbar.expand .nav-item-logo {
  min-width: 0px;
  padding-left: 14px;
}

.navbar.expand .t-tiktok{
  width: 0px;
  opacity: 0;
  display: none;
}


.navbar.expand .bt-search-container {
  width: 46px;
  margin-left: 8px;
}


.navbar.expand .nav-item{
  min-width: 40px;
}

.navbar.expand .line {
  display: none;
}

.navbar.expand span{
  display: none;
}

.navbar.expand .bt-login{
  display: none;
}
