video {
    position: relative;
    width: 100%;
    object-fit: contain;
    height: 100%;
    border-radius: 10px;
    background-color: black;
}


.video-card {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 10px;
}
.video-ct {
    width: 100%;
    height: 97vh;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    
}

.video-timer {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 17px;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.6);
    padding: 6px 10px;
    border-radius: 8px;
    opacity: 0;
}


.video-progress {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 5px;
    background: rgba(255, 255, 255, 0.3);
    appearance: none;
    outline: none;
    cursor: pointer;
}
.video-progress:hover {
    height: 7px;
}

/* Phần đã chạy (bo góc) */
.video-progress::-webkit-slider-runnable-track {
    height: 6px;
    border-radius: 20px;
    background: linear-gradient(to right, #ff3b5c 0%, rgba(255, 255, 255, 0.3) 0%);
}

/* Nút kéo (thumb) */
.video-progress::-webkit-slider-thumb {
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
    margin-top: -3px;
    cursor: pointer;
    opacity: 0;
}


.video-controls {
    position: absolute;
    top: 0px;
    left: 10px;
    background: rgba(0, 0, 0, 0);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.volume-icon {
    color: white;
    font-size: 20px;
}


.bt-action {
    display: flex;
    align-items: flex-end;
    
    height: 97vh;
    cursor: pointer;
}

/* Cột chứa nút Like, Comment, Share */
.actions {
    margin-left: 10px;
    bottom: 10px;
}

.btn-act {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    margin: 4px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-act span {
    font-size: 12px;
    margin-top: 5px;
}

.btn-action {
    background-color: rgb(71, 71, 71);
    width: 45px;
    height: 45px;
    text-align: center;
    align-content: center;
    border-radius: 50%;
}

/* Avatar nhỏ ở góc */
.avt-profile, .n-music {
    width: 45px;
    height: 45px;
    background: #fff;
    border-radius: 50%;
    margin-top: 3px;
}
.avt-profile {
    margin-bottom: 12px;
}

/* Nút chuyển video */
.btn-nav {
    position: absolute;
    right: 20px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 50%;
}

.btn-prev {
    top: 30%;
}

.btn-next {
    top: 60%;
}



