.cmt-wrapper {
    display: flex;
    align-items: flex-start;
    color: white;
    width: 100%;
    margin-bottom: 7px;
    margin-top: 7px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.cmt-content {
    display: flex;
    flex-direction: column;
}

.username {
    font-weight: bold;
    font-size: 15px;
}

.ct-cmt {
    font-size: 14.5px;
}


.cmt-info{
    display: flex;
    gap: 22px;
    font-size: 14px;
    color: gray;
}

.cmt-info span {
    font-weight: 700;
}

.likes i {
    font-size: 13.5px;
}

.view-replies {
    margin-top: 5px;
    font-size: 14px;
    color: #aaa;
    cursor: pointer;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 7px;
}

.view-replies i {
    font-size: 13.5px;
    font-weight: bold;
}

.view-replies hr {
    width: 50px;
    margin-right: 10px;
    border: 1px solid rgb(230, 230, 230);
}

.cmt-content-info {
    display: flex;
}

.ct-like{
    text-align: center;
    justify-content: center;
    margin-top: 22px;
    color: #aaa;
    font-weight: 600;
    margin-left: 10px;
    margin-right: 7px;

}
.ct-like i {
    font-size: 14px;
    cursor: pointer;
}
