.video-cmt-container {
    background-color: rgb(19, 18, 18);
    color: aliceblue;
    padding: 10px;
    height: 100%;
    padding-left: 20px;

}

.video-main-cmt {
    width: 520px;
    max-height: 100%;
    justify-content: center;
    overflow-y: auto;
    /* Thêm thanh cuộn */
    position: relative;
}

.video-header-cmt {
    position: sticky;
    /* Giữ cố định khi cuộn */
    top: 0;
    /* Khoảng cách */
    z-index: 1000;
    /* Đảm bảo nằm trên nội dung khác */
    background-color: rgb(17, 17, 17);
    border-bottom: 1px solid rgb(54, 50, 50);
}

.v-ct-info {
    background-color: rgb(32, 32, 34);
    padding: 17px;
    border-radius: 10px;

}

.video-footer-cmt {
    position: absolute;
    /* Giữ cố định khi cuộn */
    bottom: 0;
    /* Cố định ở cuối */
    z-index: 1000;
    /* Đảm bảo hiển thị trên nội dung khác */
    background-color: rgb(17, 17, 17);
    /* Màu nền */
    /* height: 100%; */
    padding-top: 10px;
    width: 520px;
    /* margin-bottom: 2px; */
}


.video-bt-login-cmt {
    height: 46px;
    width: 100%;
    border-radius: 9px;
    background-color: rgb(39, 37, 37);
    /* Màu nền */
    text-align: left;
    align-content: center;
    padding-left: 12px;
    color: rgb(216, 49, 49);
    font-weight: 600;
    font-size: 17px;
    cursor: pointer;
}


.video-cmt-child {
    margin-left: 50px;
}

.video-ft-input-cmt {
    padding: 0;
    padding-bottom: 5px;
}

.video-list-cmt {
    margin-bottom: 60px;
    padding-left: 15px;
    padding-right: 5px;
}

/* info */
.name-avt-fl {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
}

.uid-name {
    width: 100%;
    margin-top: -4px;
}

.v-uid {
    font-size: 17.4px;
    font-weight: bold;
}

.v-u-name {
    font-weight: 600;
}

.v-music {
    display: flex;
    margin-top: 5px;
    gap: 17px;
    cursor: pointer;
}

.v-music i {
    font-size: 14px;
    margin-top: 3px;
}


.description {
    max-height: 64px;
    overflow: hidden;
    line-height: 1.4;
}

.description-full {
    max-height: none;
}

.v-see-more-btn {
    cursor: pointer;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80px;
    text-align: start;
}

.see-more-btn-more {
    position: absolute;
    right: 17px;
    top: 100px;
    font-weight: 600;
    cursor: pointer;
    background-color: rgb(32, 32, 34);
    padding-left: 20px;
}

.v-count-emoj {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 10px;
    padding-left: 15px;
    margin-right: 5px;

}

.v-count {
    display: flex;
    align-items: center;
}

.v-emoj {
    display: flex;
    gap: 10px;
    align-items: center;
}

.v-count .v-c-bgr {
    padding: 10px;
    background-color: rgb(51, 51, 51);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.v-count i {
    font-size: 16px;
    color: rgb(218, 218, 218);
}

.v-total {
    margin-right: 20px;
    margin-left: 5px;
    font-weight: 600;
    color: rgb(150, 149, 149);
}

.v-emoj .v-c-bgr {
    padding: 10px;
    background-color: rgb(51, 51, 51);
    border-radius: 50%;
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    font-weight: 500;
    cursor: pointer;
}

.v-emoj i {
    font-size: 20px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.v-coppy {
    display: flex;
    justify-content: space-between;
    background-color: rgb(49, 49, 49);
    border-radius: 10px;
    margin-top: 7px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.v-bt-coppy {
    background-color: rgb(31, 30, 30);
    padding: 5px;
    padding-right: 15px;
    padding-left: 10px;
    border-radius: 0 10px 10px 0;
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
    color: rgb(214, 210, 210);
}

.v-url {
    padding: 5px;
    margin-left: 10px;
    border-radius: 0 10px 10px 0;
    max-width: 340px;
    white-space: nowrap;
    /* Không xuống dòng */
    overflow: hidden;
    /* Ẩn phần vượt quá */
    text-overflow: ellipsis;
    /* Hiện dấu ... */
    font-size: 14px;
    color: rgb(190, 190, 190);
}

/* button switch */
.v-bt-sw {
    display: flex;
    margin-top: 15px;
}

.v-bt-sw .active {
    color: white;
    border-bottom: 1px solid rgb(230, 230, 230);
}

.v-bt {
    width: 50%;
    text-align: center;
    color: rgb(156, 155, 153);
    font-weight: 600;
    padding-bottom: 10px;
    cursor: pointer;
}

/* video */
/* Đảm bảo có ít nhất 3 video trong mỗi hàng trên màn hình nhỏ */
.v-video-section {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    /* Tự động scale các video trên màn hình lớn */
    gap: 12px;
    width: 100%;
    margin-bottom: 30px;
    padding: 3px;
}

.v-menu-opt-info {
    position: absolute;
    top: 24px;
    right: 0;
    background-color: rgb(58, 57, 57);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    z-index: 1000;
    min-width: 210px;
    padding: 10px;
    font-weight: 600;
}

.v-menu-it {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid rgba(138, 131, 131, 0.15);
}
.v-menu-it-erase {
    padding: 10px;
    cursor: pointer;
}
.v-menu-it-erase:hover, .v-menu-it:hover {
    color: rgb(223, 33, 0);
}